In [39]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',
                'Budapest_PaRis', 'Brussels_londOn'],
    'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
    'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
    'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
                '12. Air France', '"Swiss Air"']
})

In [40]:
df['FlightNumber'] = df['FlightNumber'].interpolate().astype(int)

In [41]:
temp_df = df['From_To'].str.split('_', expand=True)
temp_df.columns = ['From', 'To']
temp_df['From'] = temp_df['From'].str.capitalize()
temp_df['To'] = temp_df['To'].str.capitalize()

df = df.drop('From_To', axis=1)
df = pd.concat([df, temp_df], axis=1)

In [42]:
delays = df['RecentDelays'].apply(pd.Series)
delays.columns = [f'delay_{i+1}' for i in delays.columns]

df = df.drop('RecentDelays', axis=1)
df = pd.concat([df, delays], axis=1)

print(df)

   FlightNumber              Airline      From         To  delay_1  delay_2  \
0         10045               KLM(!)    London      Paris     23.0     47.0
1         10055    <Air France> (12)    Madrid      Milan      NaN      NaN
2         10065  (British Airways. )    London  Stockholm     24.0     43.0
3         10075       12. Air France  Budapest      Paris     13.0      NaN
4         10085          "Swiss Air"  Brussels     London     67.0     32.0

   delay_3
0      NaN
1      NaN
2     87.0
3      NaN
4      NaN